<%- include partial/head.ejs %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css">

<body>
	<!-- Google Tag Manager (noscript) -->
	<noscript>
		<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MHFV33S" height="0" width="0" style="display:none;visibility:hidden"></iframe>
	</noscript>
	<!-- End Google Tag Manager (noscript) -->
	
	<div class="container text-center">
			<br>
			<br>
			<h1 class="text-center">
				Ops...
			</h1>
			<h5>
				Dados inválidos!!!
			</h5>
			<br><br><br><br><br><br>
			<div class="col-md-12 text-center"> 
					<a href="https://app.socialrocket.com.br/dashboard" class="btn btn-primary">Voltar</a> 
			</div>
			<br><br><br><br>
		<p class="container copyright container">© Socialrocket 2015. Todos os direitos reservados</p>
	</div>

	<script src="/scripts/libs/jquery-3.3.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script src="/scripts/libs/jquery.validate.js"></script>
	<script src="/scripts/libs/jquery.mask.js"></script>
	<script src="/scripts/libs/bootstrap-notify.min.js"></script>

</body>
</html>