<%- include partial/head.ejs %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css">

<body>


  <div id="subBlockBG" class="" style="background:#e2e2e2;width:100%;height:622px;position: absolute;z-index: 2"></div>
  <!-- Google Tag Manager (noscript) -->
  <noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MHFV33S" height="0" width="0" style="display:none;visibility:hidden"></iframe>
  </noscript>
  <!-- End Google Tag Manager (noscript) -->
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="http://app.Socialrocket.com.br">
          <img alt="Brand" class="brand" src="/images/logo_socialrocket.png">

        </a>

      </div>
      <ul class="menu">

        <li>
          <div class="jivo-btn jivo-online-btn jivo-btn-light" onclick="jivo_api.open();" style="cursor: pointer;">
            <div class="jivo-btn-icon" style="background-image: url(//static.jivosite.com/button/chat_light.png);"></div>Precisa
            de ajuda?
          </div>
          <div class="jivo-btn jivo-offline-btn jivo-btn-light" onclick="jivo_api.open();" style="display: none;">
            <div class="jivo-btn-icon" style="background-image: url(//static.jivosite.com/button/mail_light.png);"></div>Precisa
            de ajuda?
          </div>
        </li>
        <li><a class="menu-dash" href="https://app.Socialrocket.com.br" target="_blank">Dashboard</a></li>
      </ul>
    </div>
  </nav>

  <section class="container" id="campos">


    <div id="subBlockInfo" class="modal-subscribe hide" style="width: 70%;margin: 0 auto;height: 220px;text-align: center;z-index: 3;
    -webkit-box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.75);
    border-radius: 4px;
    padding: 27px 10px;
    margin-top: 7%;
    border: 1px solid #e2e2e2;
    position: absolute;
    background: white;
    /* border: 1px solid blue;">
      <h3>Este perfil já possui uma assinatura</h3>
      <p style="margin-bottom:30px;">Para alterar ou reativar, entre em contato conosco</p>
      <a style="    padding: 15px;
    background: #3B86FF;
    color: white;
    list-style: none;
    margin-top: 0px;
    border-radius: 5px;
    text-transform: uppercase;"
        href="https://app.socialrocket.com.br/contact">Entrar em contato</a>
      <p style="margin-top: 30px;">Se preferir, ligue para (21) 2147-4379 (segunda a sexta de 09h às 18h)</p>

    </div>

    <div id="subBlockAssinatura" class="modal-subscribe" style="width: 70%;margin: 0 auto;height: 220px;text-align: center;z-index: 3;
    -webkit-box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.75);
    border-radius: 4px;
    padding: 27px 10px;
    margin-top: 7%;
    border: 1px solid #e2e2e2;
    position: absolute;
    background: white;
    /* border: 1px solid blue;">
      <h3>Verificando suas assinaturas...</h3>
    </div>

    <img class="pass" src="/images/passo-1.png">
    <div class="col-md-9 col-xs-12 left " style="z-index: 1">
      <h2 class="h2">Escolha seu plano</h2>
      <div class=" col-md-4 col-xs-12 no-space">
        <div class="plans " id="mensal" tabindex="0">
          <a href="javascript:void(0)" class="pln"></a>
          <label class="ball">
            <input class="radio" type="radio" name="radio">
            <span class="checkmark"></span>
            <p class="h5">Mensal</p>
            <hr class="space ">
            <span class="rs">R$</span>
            <span class="price">99,00</span>
            <span class="month">por mês</span>

          </label>

        </div>
      </div>
      <div class="col-md-4 col-xs-12 no-space">
        <div class="plans active" id="trimestral" tabindex="0">
          <a href="javascript:void(0)" class="pln"></a>
          <label class="ball">
            <input class="radio" type="radio" checked="checked" name="radio">
            <span class="checkmark"></span>
            <p class="h5">Trimestral</p>
            <hr class="hr">
            <div id="price-box">
              <span class="pre-price">R$ <span class="value">267,30</span> equivalente à</span>
              <span class="rs">R$</span>
              <span class="price">89,10</span>
              <span class="month">por mês</span>
            </div>

            <p class="off">10% OFF</p>
            <br>
          </label>
        </div>
      </div>
      <div class="col-md-4 col-xs-12 no-space">
        <div class="plans" id="anual" tabindex="0">
          <a href="javascript:void(0)" class="pln"></a>
          <label class="ball">
            <input class="radio" type="radio" name="radio">
            <span class="checkmark"></span>
            <p class="h5">Anual</p>
            <hr class="hr">
            <div id="price-box">
              <span class="pre-price">R$ <span class="value">891,00</span> equivalente à</span>
              <span class="rs">R$</span>
              <span class="price">74,25</span>
              <span class="month">por mês</span>
            </div>

            <p class="off">25% OFF</p>
          </label>
        </div>
      </div>

      <span class="col-xs-12 col-md-4 no-space turbine-box">
        <a class="extra-show">
          <p class="turbine-link">Turbine seu plano <i class="fa fa-angle-down" aria-hidden="true"></i></span></p> </a>

      </span>

      <div class="col-md-12" style="padding:0px">
        <div class="col-md-4 col-xs-12 no-space">
          <div class="extra-plans" id="Direct" tabindex="1">
            <a href="javascript:void(0)" class="turbine"></a>
            <label class="ball">
              <input class="checkbox" type="checkbox" name="direct">
              <span class="checkmark-2 checkmark-3"></span>
              <img class="plans-img direct" src="/images/icone-direct.png">
              <p class="h5">Direct</p>

              <hr class="hr">
              <span class="rs">R$</span>
              <span>
                <span class="price">148,50</span>
                <span class="month">por trimestre</span>
              </span>
              <br>
            </label>
          </div>
        </div>
<!-- a -->
        <div class="col-md-4 col-xs-12 no-space">
          <div class="extra-plans" id="Gerenciador" tabindex="1">
            <a href="javascript:void(0)" class="turbine"></a>
            <label class="ball">
              <input class="checkbox" type="checkbox" name="gerenciador">
              <span class="checkmark-2 checkmark-3"></span>

              <img class="plans-img gerenciador" src="/images/icone-gerenciador.png">
              <p class="h5">Gerenciador</p>
              <hr class="hr">
              <span class="rs">R$</span>
              <span class="price">67,50</span>
              <span class="month">por trimestre</span>
              <br>
            </label>
          </div>
        </div>
        <div class="col-md-4 col-xs-12 no-space">
          <div class="extra-plans" id="Pro" tabindex="1">
            <a href="javascript:void(0)" class="turbine"></a>
            <label class="ball">
              <input class="checkbox" type="checkbox" name="pro">
              <span class="checkmark-2 checkmark-3"></span>
              
              <img class="plans-img agendamento" src="/images/icone-agendamento-cinza.png">
              <p class="h5">Agendamento PRO</p>
              <hr class="hr">
              <span class="rs">R$</span>
              <span class="price">81,00</span>
              <span class="month">por trimestre</span>
              <br>
            </label>
          </div>
        </div>

         <div class="col-md-4 col-xs-12 no-space ">
          <div class="extra-plans hide" id="Prime" tabindex="1">
            <a href="javascript:void(0)" class="turbine"></a>
            <label class="ball">
              <input class="checkbox" type="checkbox" name="prime">
              <span class="checkmark-2 checkmark-3"></span>

              <img class="plans-img prime" src="/images/icone-agendamento-cinza.png">
              <p class="h5">Socialrocket Prime</p>
              <hr class="hr">
              <span class="rs">R$</span>
              <span class="price">499,00</span>
              <span class="month">por mês</span>
              <br>
            </label>
          </div>
        </div>

      </div>
      <!-- CTA PARA O DESKTOP-->
      <div>




        <!-- <a class="cta-1 step-0" disabled="true" style="background:grey;border: 3px solid grey;">Avançar</a> -->
        <a href="#" class="cta-1 step-0">Avançar</a>




      </div>


    </div>
    <div class="col-md-3 col-xs-12">
      <h2 class="space-left">Resumo</h2>

      <div class="plan-selected">
        <p class="plan_extra"><span id="selected-plan">Trimestral</span></p>
        <hr>

        <!--  <p class="recurrency-price">Total recorrente: <span id="selected-rec-price">99,00</span></p> -->
        <p class="final-price">Total: <span id="selected-price">267,30</span></p>
        <!-- <input class="cupom" type="text" name="cupom" placeholder="Digite seu cupom"><span><button class="cupom-button">Ativar</button></span> -->
      </div>
    </div>

    <!-- CTA PARA O MOBILE-->
    <div>
      <a href="#" class="cta-1-mobile step-0">Avançar</a>
    </div>
  </section>


  <p class="copyright footer-p">CNPJ: 09.278.785./0001-33</p>
  <p class="text-center footer-p">Termos de uso:<a href="http://www.socialrocket.com.br/termos-de-uso"> Acesse</a></p>
  <p class="text-center footer-p">E-mail:suporte@socialrocket.com.br</p>
  <p class="text-center footer-p">© Socialrocket 2018. Todos os direitos reservados</p>


  <script src="/scripts/libs/jquery-3.3.1.min.js"></script>
  <script src="/scripts/libs/bootstrap-notify.min.js"></script>

  <script src="/scripts/plan.js"></script>

  <%- include partial/konduto.ejs %>
  <!-- BEGIN JIVOSITE CODE {literal} -->
  <script type='text/javascript'>
    (function () { var widget_id = '9o4MBOfx0X'; var d = document; var w = window; function l() { var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/' + widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss); } if (d.readyState == 'complete') { l(); } else { if (w.attachEvent) { w.attachEvent('onload', l); } else { w.addEventListener('load', l, false); } } })();
  </script>
  <!-- {/literal} END JIVOSITE CODE -->

  <script>
// var customerID = <%= customerID %>; // define o ID do cliente 
// (function() {     
// 	var period = 300;     
// 	var limit = 20 * 1e3;     
// 	var nTry = 0;     
// 	var intervalID = setInterval(function() { // loop para retentar o envio         
// 		var clear = limit/period <= ++nTry;         
// 		if ((typeof(Konduto) !== "undefined") &&
// 	 	    (typeof(Konduto.setCustomerID) !== "undefined")) {            
// 		window.Konduto.setCustomerID(customerID); // envia o ID para a Konduto             
// 		clear = true;         
// 	}         
// 	if (clear) {
//  clearInterval(intervalID); 
// }     
// }, period);
//  })(customerID);
  </script>

  <script>
    var page_category = 'plan';
    (function () {
      var period = 300;
      var limit = 20 * 1e3;
      var nTry = 0;
      var intervalID = setInterval(function () {
        var clear = limit / period <= ++nTry;
        if ((typeof (Konduto) !== "undefined") &&
          (typeof (Konduto.sendEvent) !== "undefined")) {
          Konduto.sendEvent('page', page_category); // Disparo programático de evento             
          clear = true;
        }
        if (clear) {
          clearInterval(intervalID);
        }
      },
        period);
    })(page_category);
  </script>


</body>

</html>
